<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criar Chamado</title>
</head>
<body>
  <main>
    <h2>CADASTRE SEU CHAMADO</h2>
    <form method="post" action="/chamados">
      <div class="input-group">
        <label for="titulo">Título</label>
        <input type="text" name="titulo" id="titulo" placeholder="Título do chamado" required>
      </div>

      <div class="input-group">
        <label for="descricao">Descrição</label>
        <input type="text" name="descricao" id="descricao" placeholder="Descreva o motivo do chamado" required>
      </div>

      <div class="input-group">
        <label for="prioridade">Prioridade</label>
        <select name="prioridade" id="prioridade" required>
          <option value="" disabled selected>Selecione a prioridade</option>
          <option value="Alta">Alta</option>
          <option value="Média">Média</option>
          <option value="Baixa">Baixa</option>
        </select>
      </div>

      <div class="input-group">
        <label for="tipo">Tipo</label>
        <select name="tipo" id="tipo" required>
          <option value="" disabled selected>Selecione o tipo do chamado</option>
          <option value="Interno">Interno</option>
          <option value="Externo">Externo</option>
        </select>
      </div>

      <div class="input-group" id="interno-opcoes" style="display: none;">
        <label for="local-interno">Local</label>
        <select name="local" id="local-interno">
            <option value="" disabled selected>Selecione o local interno</option>
            <option value="RH">RH</option>
            <option value="TI">TI</option>
            <option value="Recepção">Recepção</option>
            <option value="Sala de Reuniões">Sala de Reuniões</option>
        </select>
      </div>

      <div class="input-group" id="externo-cpf" style="display: none;">
        <label for="cliente">Selecione o Cliente (CPF)</label>
        <select name="cliente" id="cliente">
          <option value="" disabled selected>Selecione um cliente</option>
          <% cliente.forEach(function(cliente) { %>
            <option value="<%= cliente.cpf %>"><%= cliente.nome %> - <%= cliente.cpf %></option>
          <% }); %>
        </select>
      </div>

      <div class="input-group" id="externo-endereco" style="display: none;">
        <label for="endereco-externo">Endereço</label>
        <input type="text" id="local-externo" placeholder="Endereço do cliente" readonly>
      </div>

      <div class="input-group">
        <label for="nome">Nome</label>
        <input type="text" id="nome" readonly>
      </div>

      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" id="email" readonly>
      </div>

      <input type="hidden" name="nome" id="nome-hidden">
      <input type="hidden" name="email" id="email-hidden">
      <input type="hidden" name="local" id="local-hidden">

      <input type="submit" value="Enviar">
    </form>
  </main>

  <script>
    const clientes = <%- JSON.stringify(cliente) %>;

    document.getElementById('tipo').addEventListener('change', function () {
      const tipoChamado = this.value;
      const localInterno = document.getElementById('local-interno');
      const nomeInput = document.getElementById('nome');
      const emailInput = document.getElementById('email');
      const localExterno = document.getElementById('local-externo');
      const nomeHidden = document.getElementById('nome-hidden');
      const emailHidden = document.getElementById('email-hidden');
      const localHidden = document.getElementById('local-hidden');

      if (tipoChamado === 'Interno') {
        document.getElementById('interno-opcoes').style.display = 'block';
        document.getElementById('externo-cpf').style.display = 'none';
        document.getElementById('externo-endereco').style.display = 'none';

        nomeInput.value = '<%= usuario.nome %>';
        emailInput.value = '<%= usuario.email %>';

        nomeHidden.value = nomeInput.value;
        emailHidden.value = emailInput.value;

        localInterno.addEventListener('change', function () {
          localHidden.value = localInterno.value;
        });

      } else if (tipoChamado === 'Externo') {
        document.getElementById('interno-opcoes').style.display = 'none';
        document.getElementById('externo-cpf').style.display = 'block';
        document.getElementById('externo-endereco').style.display = 'block';
      }
    });

    document.getElementById('cliente').addEventListener('change', function() {
      const cpfSelecionado = this.value;
      const clienteSelecionado = clientes.find(c => c.cpf === cpfSelecionado);

      if (clienteSelecionado) {
        document.getElementById('nome').value = clienteSelecionado.nome;
        document.getElementById('email').value = clienteSelecionado.email;
        document.getElementById('local-externo').value = clienteSelecionado.endereco;

        document.getElementById('nome-hidden').value = clienteSelecionado.nome;
        document.getElementById('email-hidden').value = clienteSelecionado.email;
        document.getElementById('local-hidden').value = clienteSelecionado.endereco;
      }
    });
  </script>
</body>
</html>
