<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Listagem de Chamados</title>
</head>

<body>
    <header>
        <a href="/listar-chamados">CHAMADOS</a> <a href="/chamados">CRIAR CHAMADO</a> <a href="/clientes">CADASTRAR CLIENTE</a> <a href="/cadastro">CADASTRAR FUNCIONARIO</a>
    </header>
    <h1> CHAMADOS</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Prioridade</th>
            <th>Tipo</th>
            <th>Nome</th>
            <th>Status</th>
            <th>Data</th>
            <th>Opções</th>
        </tr>
        <%Chamados.forEach(function(chamado){%>
        <tr>
            <td><%=chamado.id%></td>
            <td><%=chamado.titulo%></td>
            <td><%=chamado.prioridade%></td>
            <td><%=chamado.tipo%></td>
            <td><%=chamado.nome%></td>
            <td><%=chamado.status%></td>
            <td><%=chamado.data%></td>
            <td><a href="/deletar/<%=chamado._id%>">Excluir</a></td><td>Editar</td>
        </tr>
        <%})%>

    </table>
</body>

</html>